!!! 5
html
	head
		link(rel="stylesheet", href="/stylesheets/960_12_col.css")
		link(rel="stylesheet", href="/stylesheets/reset.css")
		link(rel="stylesheet", href="/stylesheets/text.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
	body
		.container_12
			.clear.space.grid_12
			#menu.grid_12
				a.button.roundedcorners.boxshadow.textshadow(href='#') Säbelzahntiger?
				a.button.roundedcorners.boxshadow.textshadow(href='#') Dimensionen
				a.button.roundedcorners.boxshadow.textshadow(href='#') English
			.clear.space.grid_12
		#main.container_12
			.clear.space.grid_12
			#headline.grid_12
				h1 Zeit. Für mich.
				span.subtext Bevorzuge Qualität vor Quantität!
			.clear.space.grid_12
			.grid_6
				h2 Breite 
				&ndash; Single- statt Multitasking
				span.subtext Fokussiere dich auf eine Sache gleichzeitig.
			
			.grid_6
				h2 Tiefe 
				&ndash; Intensität statt Oberflächlichkeit
				span.subtext Erledige eine Aufgabe einmal intensiv, statt mehrfach oberflächlich.
				
			.clear.space.grid_12

			.grid_6
				h2 Raum 
				&ndash; Tunnel statt Labyrinth
				span.subtext Sorge für ein unterbrechungsfreies Umfeld.
			
			.grid_6
				h2 Zeit
				&ndash; Entschleunigung statt Stillstand
				span.subtext Wenn Du unterbrochen wirst, minimiere die Dauer und das Ausmaß der Unterbrechung.

			.clear.space.grid_12
			
			#footer.grid_12
				p Wende diese Punkte nicht nur auf deinen Beruf, sondern auch auf dein Leben an. Arbeite, um zu leben, und lebe nicht, um zu arbeiten.
				p
					a.name(href="https://twitter.com/laurinst") Laurin Stoll
					&nbsp;
					a.name(href="https://twitter.com/goloroden") Golo Roden
					&nbsp;
					a.name(href="https://twitter.com/pro_cessor") Johannes Hofmeister