body, * {
	font-family:  "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	
	font-size: 24px;
}

body {
	color: #445;
	background-color: white;
}

/* #05C #445 #f7f7f7 #000*/

/* Layout */
#top, #middle, #bottom { }

#top {
	
}

#middle {
	background-color: #white;
}

#bottom {
	
}

.space {
	height: 40px;
}

#headline {
	background-color: #f7f7f7;
	color: #445;
}

#menu {
	text-align: right;
}
	
#footer {
	color: #445;
	background-color: #f7f7f7;
}



h1 {
	margin: 0;
	padding: 0;
	font-size: 42px;
	font-weight: bolder;
}
		
h2 {
	font-size: 24px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.subtext {
	display: block;
	font-style: italic;
	font-family: Cambria, serif;
}

.name {
	font-style: italic;
	font-family: Cambria, serif;
}
		
.textshadow {
  filter: dropshadow(color=#000, offx=1px, offy=1px);
  text-shadow: 0 2px 1px #333333;
}

.boxshadow {
  -webkit-box-shadow: 1px, 1px, 3px, 0, #333;
  -moz-box-shadow: 1px, 1px, 3px, 0, #333;
  box-shadow: 1px, 1px, 3px, 0, #333;
}

.roundedcorners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button {
  background-color: #05c;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}

a {
	color: #05c;
}